---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import Nov29 from "../targets/Nov29.astro"
import Dec1 from "../targets/Dec1.astro"
import Dec2 from "../targets/Dec2.astro"
import Dec3 from "../targets/Dec3.astro"
import Dec4 from "../targets/Dec4.astro"
import Dec5 from "../targets/Dec5.astro"
import Dec6 from "../targets/Dec6.astro"
import Coming from "../targets/Coming.astro"
import Dec7 from "../targets/Dec7.astro"
import Dec8 from "../targets/Dec8.astro"
import Dec9 from "../targets/Dec9.astro"
import Dec10 from "../targets/Dec10.astro"
import Dec11 from "../targets/Dec11.astro"
import Dec12 from "../targets/Dec12.astro"
import Dec13 from "../targets/Dec13.astro"
import Dec14 from "../targets/Dec14.astro"
import Dec15 from "../targets/Dec15.astro"
import Dec16 from "../targets/Dec16.astro"
import Dec17 from "../targets/Dec17.astro"
import Dec18 from "../targets/Dec18.astro"
import Dec19 from "../targets/Dec19.astro"
import Dec20 from "../targets/Dec20.astro"
import Dec21 from "../targets/Dec21.astro"
import Dec22 from "../targets/Dec22.astro"
import Dec23 from "../targets/Dec23.astro"
import Dec24 from "../targets/Dec24.astro"
import Dec25 from "../targets/Dec25.astro"
import Dec26 from "../targets/Dec26.astro"
import Dec27 from "../targets/Dec27.astro"
import Dec28 from "../targets/Dec28.astro"
import Dec29 from "../targets/Dec29.astro"
import Dec30 from "../targets/Dec30.astro"
import Dec31 from "../targets/Dec31.astro"

const listTargets = [
/* 	{
		title: "Noviembre 29",
		characters: 826,
		Desing: Nov29,
	}, */
	{
		title: "Diciembre 1",
		characters: 251,
		Desing: Dec1,
	},
	{
		title: "Diciembre 2",
		characters: 636,
		Desing: Dec2,
	},
	{
		title: "Diciembre 3",
		characters: 516,
		Desing: Dec3,
	},
	{
		title: "Diciembre 4",
		characters: 695,
		Desing: Dec4,
	},
	{
		title: "Diciembre 5",
		characters: 546,
		Desing: Dec5,
	},
	{
		title: "Diciembre 6",
		characters: 354,
		Desing: Dec6,
	},
	{
		title: "Diciembre 7",
		characters: 318,
		Desing: Dec7,
	},
	{
		title: "Diciembre 8",
		characters: 411,
		Desing: Dec8,
	},
	{
		title: "Diciembre 9",
		characters: 288,
		Desing: Dec9,
	},
	{
		title: "Diciembre 10",
		characters: 126,
		Desing: Dec10,
	},
	{
		title: "Diciembre 11",
		characters: 598,
		Desing: Dec11,
	},
	{
		title: "Diciembre 12",
		characters: 241,
		Desing: Dec12,
	},
	{
		title: "Diciembre 13",
		characters: 411,
		Desing: Dec13,
	},
	{
		title: "Diciembre 14",
		characters: 315,
		Desing: Dec14,
	},
	{
		title: "Diciembre 15",
		characters: 291,
		Desing: Dec15,
	},
	{
		title: "Diciembre 16",
		characters: 306,
		Desing: Dec16,
	},
	{
		title: "Diciembre 17",
		characters: 462,
		Desing: Dec17,
	},
	{
		title: "Diciembre 18",
		characters: 221,
		Desing: Dec18,
	},
	{
		title: "Diciembre 19",
		characters: 255,
		Desing: Dec19,
	},
	{
		title: "Diciembre 20",
		characters: 232,
		Desing: Dec20,
	},
	{
		title: "Diciembre 21",
		characters: 255,
		Desing: Dec21,
	},
	{
		title: "Diciembre 22",
		characters: 480,
		Desing: Dec22,
	},
	{
		title: "Diciembre 23",
		characters: 219,
		Desing: Dec23,
	},
	{
		title: "Diciembre 24",
		characters: 301,
		Desing: Dec24,
	},
	{
		title: "Diciembre 25",
		characters: 407,
		Desing: Dec25,
	},
	{
		title: "Diciembre 26",
		characters: 248,
		Desing: Dec26,
	},
	{
		title: "Diciembre 27",
		characters: 241,
		Desing: Dec27,
	},
	{
		title: "Diciembre 28",
		characters: 320,
		Desing: Dec28,
	},
	{
		title: "Diciembre 29",
		characters: 256,
		Desing: Dec29,
	},
	{
		title: "Diciembre 30",
		characters: 256,
		Desing: Dec30,
	},
	{
		title: "Diciembre 31",
		characters: 170,
		Desing: Dec31,
	},
]
---

<Layout>
	<main>
		<h1>Adviento Diciembre</h1>
		<section>
			{
				listTargets.map((target, index) => (
					<Card key={index} {...target} />
				))
			}
		</section>
	</main>
</Layout>

<style>
	main {
		max-width: 1860px;
		margin: 0px auto;
		padding: 20px;
	}
	
	section {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		padding: 20px 0px;
	}
	h1{
		text-align: center;
		font-size: 50px;
	}

	@media (max-width: 768px) {
		section {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
</style>
