---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nov29 from "../targets/Nov29.astro";
import Dec3 from "../targets/Dec3.astro";
import Dec4 from "../targets/Dec4.astro";
import Dec5 from "../targets/Dec5.astro";
import Dec6 from "../targets/Dec6.astro";
import Coming from "../targets/Coming.astro";
import Dec7 from "../targets/Dec7.astro";
import Dec8 from "../targets/Dec8.astro";
import Dec9 from "../targets/Dec9.astro";
import Dec10 from "../targets/Dec10.astro";
import Dec11 from "../targets/Dec11.astro";
import Dec12 from "../targets/Dec12.astro";
import Dec13 from "../targets/Dec13.astro";

const listTargets = [
	{
		title: "Noviembre 29",
		Desing: Nov29,
	},
	{
		title: "Diciembre 3",
		Desing: Dec3,
	},
	{
		title: "Diciembre 4",
		Desing: Dec4,
	},
	{
		title: "Diciembre 5",
		Desing: Dec5,
	},
	{
		title: "Diciembre 6",
		Desing: Dec6,
	},
	{
		title: "Diciembre 7",
		Desing: Dec7,
	},
	{
		title: "Diciembre 8",
		Desing: Dec8,
	},
	{
		title: "Diciembre 9",
		Desing: Dec9,
	},
	{
		title: "Diciembre 10",
		Desing: Dec10,
	},
	{
		title: "Diciembre 11",
		Desing: Dec11,
	},
	{
		title: "Diciembre 12",
		Desing: Dec12,
	},
	{
		title: "Diciembre 13",
		Desing: Dec13,
	},
	{
		title: "Coming soon",
		Desing: Coming,
	},
];
---

<Layout>
	<main>
		<h1>CSS Battle</h1>
		<section>
			{
				listTargets.map((target, index) => (
					<Card key={index} {...target} />
				))
			}
		</section>
	</main>
</Layout>

<style>
	main {
		max-width: 1860px;
		margin: 0px auto;
		padding: 20px;
	}
	
	section {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		padding: 20px 0px;
	}

	@media (max-width: 768px) {
		section {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
</style>
