<div>
    <p>
        <h1></h1>
    </p>
</div>

<style>
    div {
        background: #fae29e;
        height: 100%;
        position: relative;
    }
    p,
    h1 {
        background: #ea9a52;
        width: 85px;
        height: 145px;
        clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
        position: absolute;
        top: 60px;
        left: 100px;
    }
    h1 {
        rotate: 180deg;
        left: 215px;
        top: 58px;
    }
</style>
