<div>
    <p></p>
    <p id="a"></p>
    <p id="b"></p>
</div>
<style>
    div {
        background: #0b2429;
        height: 100%;
        position: relative;
    }
    p {
        position: absolute;
        width: 99px;
        height: 79px;
        background: #4a7d7b;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        top: 35%;
        left: 47px;
    }
    #b {
        left: 246px;
    }
    #a {
        rotate: 180deg;
        left: 145px;
    }
</style>
