<div>
    <p></p>
    <p id="b"></p>
    <p id="c"></p>
</div>
<style>
    p {
        width: 40px;
        height: 40px;
        background: #cf81af;
    }
    div {
        display: flex;
        justify-content: center;
        padding: 54px 0;
        gap: 15px;
        background: #6255aa;
        height: 100%;
    }
    #b {
        width: 80px;
        height: 80px;
    }
    #c {
        width: 160px;
        height: 160px;
    }
</style>
