<div>
    <p id="b"></p>
    <p id="a"></p>
    <p></p>
    <p id="c"></p>
    <h1></h1>
    <h1 id="d"></h1>
</div>

<style>
    div {
        position: relative;
        height: 100%;
        background: #588a95;
    }
    p,
    h1 {
        background: transparent;
        width: 55px;
        height: 55px;
        position: absolute;
        bottom: 35px;
        right: 85px;
        border: 25px solid #fff;
    }
    #a {
        width: 100px;
        height: 100px;
    }
    #b {
        width: 150px;
        height: 150px;
    }
    #c {
        width: 200px;
        height: 200px;
        border-right-color: #588a95;
        border-bottom-color: #588a95;
    }
    h1 {
        border: none;
        width: 400px;
        background: #588a95;
        height: 25px;
    }
    #d {
        rotate: 90deg;
        right: -102px;
    }
</style>
