<div>
    <h1></h1>
    <h2></h2>
    <p></p>
</div>
<style>
    h1,
    p {
        background: #fade8b;
        position: absolute;
    }
    h1 {
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }
    p {
        width: 180px;
        height: 60px;
        border-radius: 999px 0;
        bottom: 18px;
        rotate: 30deg;
        right: 100px;
    }
    h2 {
        width: 40px;
        height: 120px;
        border-radius: 999px;
        background: #61a74e;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        background: #61a74e;    
    }
</style>
