<section>
    <div><p></p><p></p><p></p><p></p><p></p></div>
    <div id="rot">
        <p></p><p></p><p></p><p></p><p></p>
    </div>
    <h1>
        <h2></h2>
    </h1>
</section>
<style>
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
        background: #fff6d2;
    }
    p {
        width: 220px;
        height: 15px;
        background: #e88933;
        border-radius: 999px;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: absolute;
    }
    #rot {
        rotate: 90deg;
    }
    h1 {
        width: 180px;
        height: 180px;
        background: #67645e;
        position: absolute;
        border-radius: 20px;
    }
    h2 {
        width: 152px;
        height: 152px;
        background: #fff6d2;
        position: absolute;
        border-radius: 5px;
    }
</style>
