<div>
    <p></p>
    <h1></h1>
</div>
<style>
    div {
        background: #3f4869;
        position: relative;
        height: 100%;
    }
    p,
    h1 {
        position: absolute;
    }
    p {
        width: 150px;
        height: 150px;
        border: 30px solid #61a74e;
        border-radius: 50%;
        top: 75px;
        left: 125px;
    }
    h1 {
        width: 30px;
        height: 80px;
        background: #61a74e;
        top: 50px;
        left: 184px;
    }
</style>
