<div>
    <p></p>
    <h1></h1>
</div>
<style>
    div {
        position: relative;
        background: #ea9a52;
        height: 100%;
    }
    p,
    h1 {
        position: absolute;
    }
    p {
        width: 150px;
        height: 150px;
        border: 30px solid #435998;
        border-radius: 50%;
        top: 91px;
        left: 120px;
    }
    h1 {
        width: 110px;
        height: 30px;
        background: #435998;
        left: 145px;
        rotate: 315deg;
        top: 62px;
    }
</style>
