<div>
    <p></p>
    <h1></h1>
    <p id="a"></p>
</div>

<style>
    div {
        position: relative;
        background: #3f4869;
        height: 100%;
    }
    p,
    h1 {
        position: absolute;
        width: 180px;
        height: 60px;
        background: #ea9a52;
        border-radius: 20px 20px 20px 0px;
        top: 60px;
        left: 110px;
    }
    #a {
        top: 180px;
        background: #aa3440;
        border-radius: 0px 20px 20px 20px;
    }
    h1 {
        border-radius: 0px;
        width: 60px;
        top: 120px;
        background: #61a74e;
    }
</style>
