<div>
    <p></p>
    <h1></h1>
    <h2></h2>
    <h3></h3>
</div>
<style>
    div {
        background: #fade8b;
        height: 100%;
        position: relative;
    }
    p,
    p:after,
    h1,
    h1:after,
    h2,
    h2:after {
        height: 30px;
        background: #594c94;
        left: 39px;
        top: 240px;
        width: 20px;
        position: absolute;
    }
    p:after,
    h1:after,
    h2:after {
        left: 303px;
        top: 0px;
        content: "";
        width: 20px;
    }
    h1 {
        left: 89px;
        height: 60px;
        top: 210px;
    }
    h1:after {
        left: 203px;
        height: 60px;
    }
    h2 {
        left: 139px;
        top: 150px;
        height: 120px;
    }
    h2:after {
        left: 103px;
        height: 120px;
    }
    h3 {
        background: #594c94;
        top: 30px;
        height: 240px;
        left: 190px;
        width: 20px;
        position: absolute;
    }
</style>
