<div>
    <p></p>
    <h1></h1>
</div>
<style>
    div {
        background: #7c9a81;
        position: relative;
        height: 100%;
    }
    p,h1{
        position: absolute;
        border-radius: 999px;
    }
    p {
        width: 200px;
        height: 90px;
        background: #fff9c6;
        top: 105px;
        left: 65px;
    }
    h1 {
        width: 130px;
        height: 130px;
        background: #efcb5c;
        top: 85px;
        left: 205px;
        border: 30px solid #7c9a81;
    }
</style>
