<div>
    <p></p>
    <h1></h1>
    <h2></h2>
</div>
<style>
    div {
        background: #3f4869;
        height: 100%;
        position: relative;
    }
    p,
    h1,
    h2 {
        width: 60px;
        height: 400px;
        background: #f4da64;
        position: absolute;
    }
    p {
        left: 80px;
    }
    h1,
    h2 {
        left: 262px;
        top: -150px;
        rotate: 60deg;
    }
    h2 {
        rotate: -60deg;
        top: 50px;
    }
</style>
