<div>
    <p></p>
    <p id="a"></p>
    <p id="b"></p>
</div>
<style>
    div {
        background: #5393bd;
        height: 100%;
        position: relative;
    }
    p {
        width: 200px;
        height: 30px;
        background: #fae29e;
        position: absolute;
        top: 220px;
        left: 100px;
    }
    #a {
        rotate: 90deg;
        top: 135px;
        left: 15px;
    }
    #b {
        rotate: 45deg;
        top: 160px;
        left: 97px;
        width: 160px;
    }
</style>
