<div>
    <p></p>
    <p id="a"></p>
    <h1></h1>
    <h1 id="b"></h1>
</div>
<style>
    div {
        background: #61a74e;
        height: 100%;
        position: relative;
    }
    p,
    h1 {
        width: 100%;
        height: 40px;
        background: #eff8fe;
        position: absolute;
        top: 70px;
    }
    #a {
        top: 190px;
    }
    h1 {
        rotate: 90deg;
        width: 240px;
        left: 140px;
        top: 130px;
    }
    #b {
        left: 20px;
    }
</style>
