<div>
    <h1>
        <p></p>
    </h1>
</div>

<style>
    div {
        background: #3f4869;
        height: 100%;
        position: relative;
    }
    h1,
    p {
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }
    h1 {
        position: relative;
        top: 85px;
        left: 135px;
        background: #efcb5c;
        overflow: hidden;
        border: 5px solid #3f4869;
    }
    p {
        position: absolute;
        left: -80px;
        border: solid 30px #978963;
        top: 0px;
        background: #3f4869;
    }
</style>
