<div>
    <p></p>
    <h1></h1>
</div>
<style>
    div {
        background: #328fc1;
        height: 100%;
        position: relative;
    }
    p,
    h1 {
        width: 150px;
        height: 275px;
        background: #fade8b;
        border-radius: 0 0 999px 999px;
        position: absolute;
    }
    h1 {
        right: 0;
    }
</style>
