<section>
    <div></div>
    <b></b>
</section>
<style>
    b {
        background: #fff;
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 150px;
    }
    div {
        background: #fff;
        border: 60px solid #0b2429;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-sizing: content-box;
    }
    section {
        background: #63a3a0;
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        position: relative;
    }
</style>
