<div>
    <h1></h1>
    <p></p>
</div>
<style>
    * {
        margin: 0;
    }
    div {
        background: #f0dac1;
        height: 100%;
        position: relative;
    }
    h1 {
        background: #c3463d;
        width: 140px;
        position: absolute;
        height: 180px;
        z-index: 4;
        margin: 30px 0;
    }
    p {
        background: #a52f28;
        width: 300px;
        height: 180px;
        position: absolute;
        top: 90px;
        clip-path: polygon(0% 0%, 100% 0, 73% 50%, 100% 100%, 0% 100%);
    }
</style>
