---
const { title, Desing, characters } = Astro.props;
---

<div class="card shadow">
    <div class="image">
        <Desing />
    </div>
    <div class="content">
        {characters && <p>Caracteres: <span>{characters}</span></p>}
        <h2>{title}</h2>
    </div>
</div>

<style>
    .content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 20px;
    }
    h2,
    p {
        font-weight: bold;
        font-size: 24px;
    }
    p {
        font-size: 16px;
        color: #63e;
    }
    span {
        color: #2c2c2c;
    }
    .image {
        aspect-ratio: 4/3;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        transition: all 0.3s;
    }

    .card {
        padding: 20px;
        width: 440px;
        border-radius: 10px;
        background: var(--bg);
        border: var(--border);
    }

    .shadow {
        transition: all 0.3s;
        box-shadow:
            0 10px 8px rgb(0 0 0 / 0.04),
            0 4px 3px rgb(0 0 0 / 0.1);
    }

    .shadow:hover {
        box-shadow:
            0 20px 15px rgb(0 0 0 / 0.06),
            0 8px 6px rgb(0 0 0 / 0.15);
    }
    
</style>
