---
const { title, Desing } = Astro.props;
---

<div class="card shadow">
    <div class="image">
        <Desing />
    </div>
    <h2>{title}</h2>
</div>

<style>
    h2{
        text-align: end;
        padding-top: 20px;
    }
    .image {
        aspect-ratio: 4/3;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        filter: grayscale(1);
        transition: all 0.3s;
    }

    .card {
        padding: 20px;
        width: 440px;
        border-radius: 10px;
        background: var(--bg);
        border: var(--border);
        transition: all 0.1s ease-in;
    }

    .card:hover{
        transform: translateY(-10px) ;
    }

    .card:hover .image {
        filter: grayscale(0);
    }

    .shadow {
        box-shadow:
            0 10px 8px rgb(0 0 0 / 0.04),
            0 4px 3px rgb(0 0 0 / 0.1);
    }
</style>
